body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Edge */
}

/**************ALIX*************************/

@font-face {
  font-family: "Circular"; /*Can be any text*/
  src: local("CircularStd-Book"),
    url("./fonts/CircularStd-Book.ttf") format("truetype");
}

/*HOME*/
.element-HOME {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 60vw;
}

.element-HOME .overlap-wrapper {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.element-HOME .overlap {
  height: 100%;
  position: relative;
}

.element-HOME .rectangle {
  height: 100%;
  left: 0;
  position: absolute;
  top: 3px;
  width: 100%;
}

.element-HOME .promousonalogowhite {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
}

.element-HOME .HEADER {
  background-color: white;
  height: 4vw;
  position: absolute;
  width: 100%;
  box-shadow: 0px 15px 10px -15px #0000001a;
}

.element-HOME .div {
  background-color: #ffffff;
  box-shadow: 0px 5px 20px #0000001a;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.element-HOME .element-USONA-logo-high {
  height: 100%;
  left: 2vw;
  position: absolute;
}

.element-HOME .EXPERIENCE {
  position: absolute;
  left: 22.86vw;
  top: 15vw;
  width: 16.56vw;
  height: 34.63vw;
}

.element-HOME .overlap-2 {
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 2px 4px 4px #0000000d;
  height: 100%;
  position: relative;
  width: 100%;
}

.element-HOME .EXPERIENCES {
  height: 3.5%;
  left: 17.5%;
  position: absolute;
  top: 5%;
  width: 65%;
}

.element-HOME .ICON-EXP {
  height: 25.34%;
  left: 23.41%;
  position: absolute;
  top: 44.35%;
  width: 53%;
}

.element-HOME .overlap-group-2 {
  height: 100%;
  left: 0%;
  position: relative;
  width: 100%;
}

.element-HOME .ellipse {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0;
  width: 100%;
}

.element-HOME .element-RAIN-FOREST {
  background-color: #fafafa00;
  border-radius: 65.74px;
  box-shadow: -5px 4px 4px #0000000d;
  height: 75%;
  left: 13.5;
  position: absolute;
  top: 12.5%;
  width: 75%;
}

.element-HOME .LIGHTING {
  height: 15.88vw;
  left: 41.71%;
  position: absolute;
  top: 33.7vw;
  width: 16.56vw;
}

.element-HOME .overlap-3 {
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 2px 4px 4px #0000000d;
  height: 100%;
  position: relative;
  width: 100%;
}

.element-HOME .BRIGHTNESS-ICON {
  height: 29.18%;
  left: 37.65%;
  object-fit: cover;
  position: absolute;
  top: 50.81%;
  width: 24.68%;
}

.element-HOME .img {
  height: 6.88%;
  left: 27.5%;
  position: absolute;
  top: 12.13%;
  width: 44.93%;
}

.element-HOME .line {
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 30.81%;
  width: 100%;
}

.element-HOME .lineExp {
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 15%;
  width: 100%;
}

.element-HOME .AUDIO {
  height: 15.88vw;
  left: 60.5%;
  position: absolute;
  top: 15vw;
  width: 16.56vw;
}

.element-HOME .overlap-4 {
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 2px 4px 4px #0000000d;
  height: 100%;
  position: relative;
  width: 100%;
}

.element-HOME .VOLUME-ICON {
  height: 30.81%;
  left: 37.02%;
  position: absolute;
  top: 49.8%;
  width: 26.26%;
}

.element-HOME .AUDIO-2 {
  height: 6.88%;
  left: 34.8%;
  position: absolute;
  top: 11.8%;
  width: 30.06%;
}

.element-HOME .line-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 93px;
  width: 314px;
}

.element-HOME .MOTOR-SYSTEM {
  height: 15.88vw;
  left: 60.5%;
  position: absolute;
  top: 33.7vw;
  width: 16.56vw;
}

.element-HOME .MOTOR-CONTROL-SYSTEM {
  height: 19.34%;
  left: 7.91%;
  position: absolute;
  top: 12.13%;
  width: 81.01%;
}

.element-HOME .line-3 {
  height: 1px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 43.6%;
  width: 100%;
}

.element-HOME .noun-setting {
  height: 26.55%;
  left: 37.02%;
  object-fit: cover;
  position: absolute;
  top: 58.36%;
  width: 25.63%;
}

.element-HOME .EMOTIONAL {
  height: 15.88vw;
  left: 41.71%;
  position: absolute;
  top: 15vw;
  width: 16.56vw;
}

.element-HOME .EMOTIONAL-VALENCE {
  height: 19.34%;
  left: 21.5%;
  position: absolute;
  top: 12.13%;
  width: 57%;
}

.element-HOME .noun-flower-of-life {
  left: 35.75%;
  object-fit: cover;
  position: absolute;
  top: 57.04%;
  width: 28.16%;
}

/*EXPERIENCES*/

.element-EXPERIENCES {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0px;
  left: 0px;
  height: 60vw;
  width: 100vw;
}

.element-EXPERIENCES .promousonalogowhite {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
}

.element-EXPERIENCES .rectangle {
  height: 100%;
  left: 0;
  position: absolute;
  top: 3px;
  width: 100%;
}

.HEADER {
  background-color: white;
  height: 4vw;
  position: absolute;
  width: 100%;
  box-shadow: 0px 15px 10px -15px #0000001a;
}

.element-USONA-logo-high {
  height: 100%;
  left: 2vw;
  position: absolute;
}

.text-wrapper {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  white-space: nowrap;
  right: 7vw;
  top: 50%;
  transform: translateY(-50%);
}

.home {
  position: absolute;
  right: 3vw;
  top: 47%;
  transform: translateY(-50%);
  scale: 80%;
}

.element-EXPERIENCES .ellipse {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 50%;
}

.element-EXPERIENCES .ellipseRot {
  height: 100%;
  left: 0%;
  position: absolute;
  top: 0%;
  width: 50%;
  transform: scale(-1, 1);
}

.element-EXPERIENCES .img {
  height: 100%;
  left: 0%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  width: 100%;
  border-radius: 50%;
}

.element-EXPERIENCES .btnimg {
  height: 78.26%;
  left: 10.86%;
  object-fit: cover;
  position: absolute;
  top: 10.86%;
  width: 78.26%;
  border-radius: 50%;
  background-color: #ff000000;
  border: 0px;
}

.element-RAIN-FOREST {
  width: 19.16vw;
  height: 19.16vw;
  left: 8%;
  top: 10vw;
  position: absolute;
}

.element-EXPERIENCES .element-OCEAN {
  width: 19.16vw;
  height: 19.16vw;
  left: 29.5%;
  top: 10vw;
  position: absolute;
}

.element-EXPERIENCES .element-MEDITATION {
  width: 19.16vw;
  height: 19.16vw;
  left: 51%;
  top: 10vw;
  position: absolute;
}

.element-EXPERIENCES .element-GALAXY {
  width: 19.16vw;
  height: 19.16vw;
  left: 72.5%;
  top: 10vw;
  position: absolute;
}

.element-EXPERIENCES .element-SPIRAL-RS {
  width: 19.16vw;
  height: 19.16vw;
  left: 29.5%;
  top: 35vw;
  position: absolute;
}

.element-EXPERIENCES .element-REACTIVE-SCENE {
  width: 19.16vw;
  height: 19.16vw;
  left: 51%;
  top: 35vw;
  position: absolute;
}

/*EMOTIONAL VALENCE*/

.element-EMOTIONAL-VALENCE {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 60vw;
  top: 0px;
  left: 0px;
  position: absolute;
}

.element-EMOTIONAL-VALENCE .overlap-wrapper {
  background-color: #ffffff;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.element-EMOTIONAL-VALENCE .promousonalogowhite {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
}

.element-EMOTIONAL-VALENCE .rectangle {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.element-EMOTIONAL-VALENCE .SETTINGS {
  left: 61.56vw;
  top: 3.2vw;
  position: absolute;
  width: 24.74vw;
  height: 55vw;
}

.element-EMOTIONAL-VALENCE .rectangle-2 {
  background-color: #ffffff00;
  border-radius: 30px;
  box-shadow: 4px 4px 20px #00000000;

  position: absolute;
  width: 100%;
  height: 100%;
}
.element-EMOTIONAL-VALENCE .backR {
  position: absolute;
  width: 100%;
  height: 100%;
}

.element-EMOTIONAL-VALENCE .btnimg {
  object-fit: cover;
  position: absolute;
  align-items: center;
  width: 19.78%;
  height: 9%;
  left: 39%;
  top: 88%;
  border-radius: 50%;
  background-color: #ff000000;
  border: 0px;
  padding: 0;
  margin: 0px;
}

.element-EMOTIONAL-VALENCE .PLAY-STOP {
  background-color: #d9d9d900;
  border: 1px solid;
  border-color: #00000000;
  border-radius: 47px;
  box-shadow: 1px 2px 4px #00000000;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.element-EMOTIONAL-VALENCE .backB {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.element-EMOTIONAL-VALENCE .img {
  opacity: 0.4;
  object-fit: cover;
  position: absolute;
  top: 23%;
  left: 13%;
  scale: 64%;
}

.element-EMOTIONAL-VALENCE .BRIGHTNESS {
  height: 121px;
  left: 4%;
  position: absolute;
  top: 17.8%;
  width: 90%;
}

.element-EMOTIONAL-VALENCE .line-b {
  position: absolute;
  width: 100%;
  top: 9%;
}

.element-EMOTIONAL-VALENCE .text-brightness {
  position: relative;
  width: 100%;
  height: 9%;
  text-align: center;
  vertical-align: middle;
}
.element-EMOTIONAL-VALENCE .bright {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}
.element-EMOTIONAL-VALENCE .BRIGHTNESS-ICON {
  margin: auto;
  display: block;
  max-width: 30%;
  max-height: 30%;
}

.element-EMOTIONAL-VALENCE .SLIDER {
  margin: auto;
  display: block;
  width: 85%;
  max-height: 30%;
  top: 25%;
  position: relative;
}

.element-EMOTIONAL-VALENCE .rectangle-3 {
  height: 19px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 381px;
}

.element-EMOTIONAL-VALENCE .CURSEUR {
  background-color: #f8f8f8;
  border: 1px solid;
  border-color: #0000000d;
  border-radius: 14px;
  box-shadow: 1px 2px 4px #0000001a;
  height: 28px;
  left: 118px;
  position: absolute;
  top: 0;
  width: 28px;
}

.element-EMOTIONAL-VALENCE .ellipse {
  background-color: #d9d9d94c;
  border: 1px solid;
  border-color: #0000000d;
  border-radius: 6px;
  height: 12px;
  left: 7px;
  position: relative;
  top: 7px;
  width: 12px;
}

.element-EMOTIONAL-VALENCE .SPEED {
  height: 121px;
  left: 4%;
  position: absolute;
  top: 38%;
  width: 90%;
}

.element-EMOTIONAL-VALENCE .AUDIOR {
  height: 121px;
  left: 4%;
  position: absolute;
  top: 78%;
  width: 90%;
}

.element-EMOTIONAL-VALENCE .overlap-group-wrapper {
  margin: auto;
  display: block;
  width: 85%;
  max-height: 30%;
  top: 65%;
  position: relative;
}

.element-EMOTIONAL-VALENCE .overlap-audior2 {
  margin: auto;
  display: block;
  width: 85%;
  max-height: 30%;
  top: 65%;
  position: relative;
}

.element-EMOTIONAL-VALENCE .ellipse-wrapper {
  background-color: #f8f8f8;
  border: 1px solid;
  border-color: #0000000d;
  border-radius: 14px;
  box-shadow: 1px 2px 4px #0000001a;
  height: 28px;
  left: 239px;
  position: absolute;
  top: 0;
  width: 28px;
}

.element-EMOTIONAL-VALENCE .SPEED-ICON {
  margin: auto;
  display: block;
  max-width: 30%;
  max-height: 30%;
}

.element-EMOTIONAL-VALENCE .line {
  position: absolute;
  width: 100%;
  top: 41%;
}
.element-EMOTIONAL-VALENCE .line-s {
  position: absolute;
  width: 100%;
  top: 50%;
}
.element-EMOTIONAL-VALENCE .text-speed {
  position: relative;
  width: 100%;
  height: 9%;
  top: 28.5%;
  text-align: center;
  vertical-align: middle;
}
.element-EMOTIONAL-VALENCE .speed_t {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.element-EMOTIONAL-VALENCE .line-2 {
  position: absolute;
  width: 100%;
  top: 80%;
}

.element-EMOTIONAL-VALENCE .EMOTIONAL-CIRCLE {
  width: 42.96vw;
  height: 42.96vw;
  left: 11.35vw;
  top: 11vw;
  position: absolute;
}

.element-EMOTIONAL-VALENCE .pointer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.element-EMOTIONAL-VALENCE .pointerimg {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.element-EMOTIONAL-VALENCE .overlap-2 {
  background-color: #ffffff00;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.element-EMOTIONAL-VALENCE .FLOWER-OF-LIFE {
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 98.18%;
  height: 98.18%;
}

.element-EMOTIONAL-VALENCE .line-3 {
  height: 62.78%;
  position: absolute;
  width: 62.78%;
  left: 18.6%;
  top: 18.6%;
}

.element-EMOTIONAL-VALENCE .line-4 {
  height: 62.78%;
  position: absolute;
  width: 62.78%;
  left: 18.6%;
  top: 18.6%;
}

.element-EMOTIONAL-VALENCE .text-wrapper-2 {
  color: #a3b986;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  transition: font-size 0.2s ease;
  font-weight: 400;
  left: 43%;
  top: 7.15%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-3 {
  color: #a3b986;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 44%;
  top: 87.6%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-4 {
  color: #a3b986;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 57.12%;
  top: 15.63%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-5 {
  color: #a3b986;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 6%;
  top: 47%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-6 {
  color: #a3b986;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 13%;
  top: 36%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-7 {
  color: #a3b986;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 82%;
  top: 36%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-8 {
  color: #87a0dc;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 68%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 22.9%;
  transform: rotate(-45deg);
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-9 {
  color: #87a0dc;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 68%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 71%;
  transform: rotate(45deg);
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-10 {
  color: #a3b986;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 9%;
  top: 59%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-11 {
  color: #a3b986;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 81%;
  top: 59%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-12 {
  color: #a3b986;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 80%;
  top: 47%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-13 {
  color: #a3b986;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 58%;
  top: 80%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-14 {
  color: #a3b986;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 31%;
  top: 15.63%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.element-EMOTIONAL-VALENCE .text-wrapper-15 {
  color: #a3b986;
  font-family: "Circular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 31%;
  top: 80%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

/************AUDIO****************/
.element-AUDIO-STEP {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0px;
  left: 0px;
  height: 60vw;
  width: 100vw;
}

.element-AUDIO-STEP .promousonalogowhite {
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
}

.element-AUDIO-STEP .rectangle {
  height: 100%;
  left: 0;
  position: absolute;
  top: 3px;
  width: 100%;
}

.element-AUDIO-STEP .SETTINGS {
  background-color: #ffffff00;
  border-radius: 3%;
  height: 26.5vw;
  left: 30vw;
  position: absolute;
  top: 16.7vw;
  width: 40vw;
}

.element-AUDIO-STEP .audio_settings {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.element-AUDIO-STEP .overlap-2 {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.element-AUDIO-STEP .rectangle-2 {
  height: 22%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 70%;
  text-align: center;
  vertical-align: middle;
}
.element-AUDIO-STEP .audio-text {
  padding: 7%;
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  top: 40%;
}

.element-AUDIO-STEP .PLAY-STOP {
  background-color: #d9d9d92e;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 47px;
  box-shadow: 1px 2px 4px #0000001a;
  left: 27%;
  position: absolute;
  top: 73%;
  width: 12%;
  height: 17.77%;
}

.element-AUDIO-STEP .btnimg2 {
  background-color: #d9d9d900;
  border: 1px solid;
  border-color: #00000000;
  border-radius: 47px;
  box-shadow: 1px 2px 4px #0000001a;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.element-AUDIO-STEP .img2 {
  height: 50%;
  left: 17%;
  object-fit: cover;
  position: absolute;
  top: 25%;
  width: 70%;
  scale: 75%;
}

.element-AUDIO-STEP .VOLUME {
  height: 43%;
  left: 2.4%;
  position: absolute;
  top: 22%;
  width: 63.3%;
}

.element-AUDIO-STEP .volume-icon-wrapper {
  width: 100%;
  height: 25%;
  top: 20%;
  position: absolute;
}

.element-AUDIO-STEP .VOLUME-ICON {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  width: 10%;
}

.element-AUDIO-STEP .slider-wrapper {
  width: 100%;
  height: 25%;
  top: 55%;
  position: absolute;
}

.element-AUDIO-STEP .SLIDER {
  height: 50%;
  width: 100%;
}

.element-AUDIO-STEP .overlap-group-2 {
  height: 28px;
  position: relative;
}

.element-AUDIO-STEP .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 22%;
  width: 70%;
}

.element-AUDIO-STEP .line-2 {
  height: 100%;
  left: 70%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.element-AUDIO-STEP .line-3 {
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 64.5%;
  width: 70%;
}

.element-AUDIO-STEP .sources {
  height: 100%;
  left: 70%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 30%;
}

.element-AUDIO-STEP .song-icon-wrapper {
  height: 100%;
  width: 100%;
}
.element-AUDIO-STEP .icon-wrapper {
  position: absolute;
  height: 16%;
  top: 37%;
  left: 74%;
  width: 15%;
}

.element-AUDIO-STEP .line-4 {
  height: 1px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0%;
  width: 100%;
}

.element-AUDIO-STEP .SONG-ICON {
  position: absolute;
  width: 60%;
  left: 20%;
  top: 32%;
}

.element-AUDIO-STEP .song-wrapper {
  position: absolute;
  height: 10.78%;
  top: 0%;
  left: 70%;
  width: 30%;
}

.element-AUDIO-STEP .SONG {
  padding: 7%;
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  top: 45%;
}

/*AUDIO2 */
.element-AUDIO-STEP .INPUT-SOURCE {
  background-color: rgb(255, 255, 255);
  height: 92.6%;
  left: 65.6%;
  position: absolute;
  top: 3.2%;
  width: 31.2%;
  border-radius: 30px;
}

.element-AUDIO-STEP .top {
  position: absolute;
  height: 10.78%;
  top: 0%;
  left: 0%;
  width: 100%;
}

.element-AUDIO-STEP .bottom {
  position: absolute;
  top: 10.78%;
  height: 89.22%;
  left: 0%;
  width: 100%;
}

.element-AUDIO-STEP .line-bottom {
  height: 3px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 100%;
  width: 100%;
}

.element-AUDIO-STEP .SONG-ICON2 {
  position: absolute;
  width: 15%;
  left: 75%;
  top: 30%;
}

.element-AUDIO-STEP .BACK {
  position: absolute;
  width: 10%;
  left: 8%;
  top: 30%;
}
.element-AUDIO-STEP .text-wrapper-2 {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 17%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 35%;
  width: 80%;
  white-space: nowrap;
}
.element-AUDIO-STEP .text-wrapper-3 {
  color: #000000;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
  white-space: nowrap;
}
.element-AUDIO-STEP .text-wrapper-4 {
  color: #000000;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
  white-space: nowrap;
}
.element-AUDIO-STEP .text-wrapper-5 {
  color: #000000;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
  white-space: nowrap;
}
.element-AUDIO-STEP .text-wrapper-6 {
  color: #000000;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
  white-space: nowrap;
}

/*AUDIOBOXEsss////*/
.element-AUDIO-STEP .rectangle-4btn {
  background-color: #d9d9d900;
  height: 20%;
  left: 0px;
  position: absolute;
  top: 0%;
  width: 100%;
}
.element-AUDIO-STEP .rectangle-5btn {
  background-color: #d9d9d900;
  height: 20%;
  left: 0px;
  position: absolute;
  top: 20%;
  width: 100%;
}
.element-AUDIO-STEP .rectangle-6btn {
  background-color: #d9d9d900;
  height: 20%;
  left: 0px;
  position: absolute;
  top: 40%;
  width: 100%;
}
.element-AUDIO-STEP .rectangle-7btn {
  background-color: #d9d9d900;
  height: 20%;
  left: 0px;
  position: absolute;
  top: 60%;
  width: 100%;
}
.element-AUDIO-STEP .rectangle-8btn {
  background-color: #d9d9d900;
  height: 20%;
  left: 0px;
  position: absolute;
  top: 80%;
  width: 100%;
}
.element-AUDIO-STEP .rectangle-4 {
  background-color: #d9d9d956;
  height: 20%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.element-AUDIO-STEP .rectangle-5 {
  background-color: #d9d9d956;
  height: 20%;
  left: 0px;
  position: absolute;
  top: 20%;
  width: 100%;
}
.element-AUDIO-STEP .rectangle-6 {
  background-color: #d9d9d956;
  height: 20%;
  left: 0px;
  position: absolute;
  top: 40%;
  width: 100%;
}
.element-AUDIO-STEP .rectangle-7 {
  background-color: #d9d9d956;
  height: 20%;
  left: 0px;
  position: absolute;
  top: 60%;
  width: 100%;
}
.element-AUDIO-STEP .rectangle-8 {
  background-color: #d9d9d956;
  height: 20%;
  left: 0px;
  position: absolute;
  top: 80%;
  width: 100%;
  border-radius: 0px 0px 10px 0px;
}

/*********LIGHT***********/
.element-LIGHTNING {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0px;
  left: 0px;
  height: 60vw;
  width: 100vw;
}

.element-LIGHTNING .promousonalogowhite {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.element-LIGHTNING .rectangle {
  background-color: #d0e2ff33;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.element-LIGHTNING .HEADER {
  background-color: white;
  height: 4vw;
  position: absolute;
  width: 100%;
  box-shadow: 0px 15px 10px -15px #0000001a;
}

.element-LIGHTNING .div {
  background-color: #ffffff;
  box-shadow: 0px 5px 20px #0000001a;
  height: 100%;
  left: 0;
  position: absolute;
  top: -100%;
  width: 100%;
}

.element-LIGHTNING .element-USONA-logo-high {
  height: 100%;
  left: 2vw;
  position: absolute;
}

.element-LIGHTNING .text-wrapper {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  white-space: nowrap;
  right: 7vw;
  top: 50%;
  transform: translateY(-50%);
}
.element-LIGHTNING .textLight {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 1706px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  white-space: nowrap;
}

.element-LIGHTNING .SETTINGS {
  background-color: #ffffff00;
  border-radius: 0%;
  height: 37.8vw;
  left: 30vw;
  position: absolute;
  top: 11vw;
  width: 37vw;
}

.element-LIGHTNING .top {
  position: absolute;
  height: 34%;
  left: 0px;
  top: 0px;
  width: 100%;
}
.element-LIGHTNING .top-text {
  position: absolute;
  height: 41%;
  left: 0px;
  top: 10%;
  width: 100%;
}

.element-LIGHTNING .blinds-text {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
}

.element-LIGHTNING .bottom {
  height: 66%;
  left: 0px;
  top: 34%;
  width: 100%;
  position: absolute;
}

.element-LIGHTNING .overlap-2 {
  height: 100%;
  position: relative;
}

.element-LIGHTNING .rectangle-2 {
  background-color: #ffffff00;
  border-radius: 30px;
  box-shadow: 4px 4px 20px #00000000;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0;
  width: 100%;
}

.element-LIGHTNING .backL {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0;
  width: 100%;
}

.element-LIGHTNING .line {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.element-LIGHTNING .line-abajo-up {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 100%;
  width: 100%;
}

.element-LIGHTNING .line-bottom {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 100%;
  width: 100%;
}

.element-LIGHTNING .line2 {
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1px;
}

.element-LIGHTNING .img {
  height: 238px;
  left: 475px;
  object-fit: cover;
  position: absolute;
  top: 239px;
  width: 1px;
}

.element-LIGHTNING .abajo {
  height: 50%;
  left: 0px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.element-LIGHTNING .abajo-up {
  height: 34%;
  left: 0px;
  position: absolute;
  top: 0%;
  width: 100%;
}

.element-LIGHTNING .abajo-down {
  height: 66%;
  left: 0px;
  position: absolute;
  top: 34%;
  width: 100%;
}

.element-LIGHTNING .ON-OFF {
  background-color: #00000000;
  height: 100%;
  left: 67%;
  position: absolute;
  top: 0px;
  width: 33%;
}

.element-LIGHTNING .overlap-group {
  position: absolute;
  scale: 70%;
}

.element-LIGHTNING .on-off-btn {
  position: absolute;
  top: 30%;
  left: 22%;
}

.element-LIGHTNING .BRIGHTNESS {
  height: 100%;
  left: 0px;
  top: 0px;
  width: 67%;
  position: absolute;
}

.element-LIGHTNING .BRIGHTNESS-ICON {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  scale: 60%;
}

.element-LIGHTNING .SLIDER {
  height: 28px;
  left: 10%;
  position: absolute;
  top: 60%;
  width: 80%;
}

.element-LIGHTNING .overlap-group-2 {
  height: px;
  position: relative;
}

.element-LIGHTNING .rectangle-3 {
  height: 19px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 381px;
}

.element-LIGHTNING .CURSEUR {
  background-color: #f8f8f8;
  border: 1px solid;
  border-color: #0000000d;
  border-radius: 14px;
  box-shadow: 1px 2px 4px #0000001a;
  height: 28px;
  left: 118px;
  position: absolute;
  top: 0;
  width: 28px;
}
.element-LIGHTNING .CURSEUR2 {
  background-color: #f8f8f8;
  border: 1px solid;
  border-color: #0000000d;
  border-radius: 14px;
  box-shadow: 1px 2px 4px #0000001a;
  height: 28px;
  left: 38px;
  position: absolute;
  top: 0;
  width: 28px;
}

.element-LIGHTNING .ellipse {
  background-color: #d9d9d94c;
  border: 1px solid;
  border-color: #0000000d;
  border-radius: 6px;
  height: 12px;
  left: 7px;
  position: relative;
  top: 7px;
  width: 12px;
}

.element-LIGHTNING .MOTOR-CONTROL {
  height: 50%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.element-LIGHTNING .overlap-group {
  background-image: url(./assets/ONOFF.png);
  background-size: 100% 100%;
  height: 30px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 62px;
}

.element-LIGHTNING .CURSEUR {
  height: 28px;
  left: 1px;
  position: absolute;
  top: -1px;
  width: 28px;
}

.element-LIGHTNING .CURSEUR-wrapper {
  /*background-image: url(./image.png);*/
  background-size: 100% 100%;
  height: 30px;
  left: 0;
  position: absolute;
  top: 27px;
  width: 62px;
}

.element-LIGHTNING .ellipse-wrapper {
  background-color: #f8f8f8;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 14px;
  height: 28px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 28px;
}

.element-LIGHTNING .ellipse-2 {
  background-color: #d9d9d94c;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 6px;
  height: 12px;
  left: 7px;
  position: relative;
  top: 7px;
  width: 12px;
}

.element-LIGHTNING .text-wrapper-2 {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 10px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  white-space: nowrap;
}

.element-LIGHTNING .UP-DOWN1 {
  height: 50%;
  width: 100%;
  top: 50px;
  position: absolute;
}

.element-LIGHTNING .UP-DOWN2 {
  height: 50%;
  width: 100%;
  top: 0px;
  position: absolute;
}

.element-LIGHTNING .UP-DOWN {
  background-color: #d9d9d900;
  border: 1px solid;
  border-color: #00000000;
  border-radius: 20px;
  box-shadow: 1px 2px 4px #00000000;
  height: 56%;
  left: 71%;
  position: absolute;
  top: 35%;
  width: 13%;
}
.element-LIGHTNING .UPDOWNI {
  height: 100%;
  left: 0%;
  position: absolute;
  top: 0%;
  width: 100%;
  scale: 90%;
}

.element-LIGHTNING .UP {
  height: 70%;
  left: 33%;
  position: absolute;
  top: 10%;
  width: 35%;
}

.element-LIGHTNING .DOWN {
  height: 70%;
  left: 33%;
  position: absolute;
  top: -10%;
  width: 35%;
}

.element-LIGHTNING .line-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 50%;
  width: 100%;
}

.element-LIGHTNING .OPEN {
  background-color: #d9d9d900;
  border: 0px solid;
  border-color: #00000000;
  border-radius: 20px;
  left: 29.6%;
  position: absolute;
  top: 22%;
  width: 17%;
}

.element-LIGHTNING .rectangle-4 {
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      to bottom,
      rgb(135, 160, 220),
      rgb(163, 185, 134)
    )
    1;
  border-radius: 20px;
  height: 66px;
  left: 26px;
  position: relative;
  top: 27px;
  width: 66px;
}

.element-LIGHTNING .overlap-3 {
  height: 122px;
  left: 272px;
  position: absolute;
  top: 0;
  width: 272px;
}

.element-LIGHTNING .HALF-OPEN {
  background-color: #d9d9d900;
  border: 1px solid;
  border-color: #00000000;
  border-radius: 20px;
  box-shadow: 1px 2px 4px #00000000;
  left: 12%;
  position: absolute;
  top: 40%;
  width: 17%;
}

.element-LIGHTNING .rectangle-5 {
  background-color: #d9d9d92e;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 30px;
  box-shadow: 1px 2px 4px #0000001a;
  height: 122px;
  left: 0px;
  position: absolute;
  top: 0;
  width: 121px;
}

.element-LIGHTNING .rectangle-wrapper {
  border-radius: 10px;
  height: 66px;
  left: 28px;
  position: absolute;
  top: 28px;
  width: 66px;
}

.element-LIGHTNING .rectangle-6 {
  height: 32px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 64px;
}

.element-LIGHTNING .CLOSE {
  background-color: #d9d9d900;
  left: 32%;
  position: absolute;
  top: 40%;
  width: 17%;
  border-radius: 20px;
}

.element-LIGHTNING .POSITION {
  height: 122px;
  position: relative;
}

.element-LIGHTNING .rectangle-7 {
  background-color: #d9d9d92e;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 30px;
  box-shadow: 1px 2px 4px #0000001a;
  height: 122px;
  left: 0;
  position: absolute;
  top: 0;
  width: 121px;
}

.element-LIGHTNING .rectangle-8 {
  height: 66px;
  left: 28px;
  position: absolute;
  top: 28px;
  width: 66px;
}

/************MOTOR CONTROL*************/
.element-MOTOR-CONTROL {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 0px;
  left: 0px;
  height: 60vw;
  width: 100vw;
}

.element-MOTOR-CONTROL .promousonalogowhite {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.element-MOTOR-CONTROL .rectangle {
  background-color: #d0e2ff33;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.element-MOTOR-CONTROL .HEADER {
  background-color: white;
  height: 4vw;
  position: absolute;
  width: 100%;
  box-shadow: 0px 15px 10px -15px #0000001a;
}

.element-MOTOR-CONTROL .div {
  background-color: #ffffff;
  box-shadow: 0px 5px 20px #0000001a;
  height: 100%;
  left: 0;
  position: absolute;
  top: -100%;
  width: 100%;
}

.element-MOTOR-CONTROL .element-USONA-logo-high {
  height: 100%;
  left: 2vw;
  position: absolute;
}

.element-MOTOR-CONTROL .text-wrapper {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 10px;
  font-weight: 400;
  position: absolute;
  white-space: nowrap;
  right: 2vw;
  top: 40%;
  left: 35%;
  transform: translateY(-50%);
}

.element-MOTOR-CONTROL .div {
  background-color: #ffffff;
  box-shadow: 0px 5px 20px #0000001a;
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.element-MOTOR-CONTROL .SETTINGS {
  height: 31.5vw;
  left: 12.5vw;
  position: absolute;
  top: 14.2vw;
  width: 75vw;
}

.element-MOTOR-CONTROL .overlap-2 {
  background-color: #ffffff00;
  border-radius: 30px;
  box-shadow: 4px 4px 20px #00000000;
  height: 100%;
  position: relative;
  width: 100%;
}
.element-MOTOR-CONTROL .MC {
  height: 100%;
  position: absolute;
  width: 100%;
}

.element-MOTOR-CONTROL .overlap-group-2 {
  height: 100%;

  position: absolute;

  width: 100%;
}

.element-MOTOR-CONTROL .line {
  height: 100%;
  left: 50%;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.element-MOTOR-CONTROL .img {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 18.3%;
  width: 100%;
}

.element-MOTOR-CONTROL .text-wrapper-2 {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 16.5%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7%;
  white-space: nowrap;
}

.element-MOTOR-CONTROL .posText {
  width: 100%;
  height: 10%;
  top: 10%;
  position: absolute;
}

.element-MOTOR-CONTROL .text-wrapper-3 {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 18px;
  font-weight: 400;
  right: 22%;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 7%;
  white-space: nowrap;
}
.element-MOTOR-CONTROL .text-wrapper-4 {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;

  top: 20%;
  white-space: nowrap;
}

.element-MOTOR-CONTROL .MOTOR-CONTROL {
  height: 81.7%;
  left: 0px;
  position: absolute;
  top: 18.3%;
  width: 50%;
}

.element-MOTOR-CONTROL .top {
  height: 25%;
  left: 0px;
  position: absolute;
  top: 27%;
  width: 100%;
}

.element-MOTOR-CONTROL .UP-DOWN {
  background-color: #d9d9d900;
  border: 1px solid;
  border-color: #00000000;
  border-radius: 30px;
  box-shadow: 1px 2px 4px #00000000;
  height: 100%;
  left: 12.7%;
  position: absolute;
  top: 0;
  width: 12.7%;
}
.element-MOTOR-CONTROL .UPDOWNI {
  height: 100%;
  left: 0%;
  position: absolute;
  top: 0%;
  width: 100%;
}

.element-MOTOR-CONTROL .UP-DOWN1 {
  background-color: #0066ff00;
  border: 1px solid;
  border-color: #00000000;
  border-radius: 0px 0px 30px 30px;
  height: 50%;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}

.element-MOTOR-CONTROL .UP-DOWN2 {
  background-color: #0066ff00;
  border: 1px solid;
  border-color: #00000000;
  border-radius: 0px 0px 30px 30px;
  height: 50%;
  left: 0;
  position: absolute;
  top: 0%;
  width: 100%;
}

.element-MOTOR-CONTROL .UP {
  height: 37px;
  left: 25%;
  position: absolute;
  top: 0%;
  scale: 80%;
}

.element-MOTOR-CONTROL .DOWN {
  height: 37px;
  left: 25%;
  position: absolute;
  top: 0%;
  scale: 80%;
}

.element-MOTOR-CONTROL .line-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 50%;
  width: 100%;
}

.element-MOTOR-CONTROL .POSITION {
  background-color: #d9d9d900;
  border: 0px solid;
  border-color: #00000000;
  border-radius: 30px;
  box-shadow: 1px 2px 4px #00000000;
  height: 100%;
  left: 33%;
  position: absolute;
  top: 0;
  width: 17%;
}

.element-MOTOR-CONTROL .POSITIONbtn {
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0;
  width: 100%;
}

.element-MOTOR-CONTROL .rectangle-2 {
  height: 11px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 29px;
  width: 78px;
}

.element-MOTOR-CONTROL .rectangle-3 {
  border: 0.5px solid;
  border-color: #00000066;
  border-radius: 100px;
  height: 11px;
  left: 21px;
  position: absolute;
  top: 55px;
  width: 78px;
}

.element-MOTOR-CONTROL .rectangle-4 {
  border: 0.5px solid;
  border-color: #00000066;
  border-radius: 100px;
  height: 11px;
  left: 21px;
  position: absolute;
  top: 80px;
  width: 78px;
}

.element-MOTOR-CONTROL .POSITION-2 {
  background-color: #d9d9d900;
  border: 0px solid;
  border-color: #00000000;
  border-radius: 30px;
  box-shadow: 1px 2px 4px #00000000;
  height: 100%;
  right: 33.5%;
  position: absolute;
  top: 0;
  width: 17%;
}

.element-MOTOR-CONTROL .rectangle-5 {
  height: 11px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 55px;
  width: 78px;
}

.element-MOTOR-CONTROL .rectangle-6 {
  border: 0.5px solid;
  border-color: #00000066;
  border-radius: 100px;
  height: 11px;
  left: 21px;
  position: absolute;
  top: 29px;
  width: 78px;
}

.element-MOTOR-CONTROL .POSITION-3 {
  background-color: #d9d9d900;
  border: 0px solid;
  border-color: #00000000;
  border-radius: 30px;
  box-shadow: 1px 2px 4px #00000000;
  height: 100%;
  right: 27%;
  position: absolute;
  top: 0;
  width: 17%;
}

.element-MOTOR-CONTROL .rectangle-7 {
  height: 11px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 78px;
}
.element-MOTOR-CONTROL .bottom {
  height: 17%;
  left: 0px;
  position: absolute;
  top: 70%;
  width: 50%;
}
.element-MOTOR-CONTROL .EMERGENCY-STOP {
  background-color: #d9d9d92e;
  border: 1px solid;
  border-color: #0000001a;
  border-radius: 47px;
  box-shadow: 1px 2px 4px #0000001a;
  height: 100%;
  left: 30%;
  position: absolute;
  width: 14.5%;
}

.element-MOTOR-CONTROL .rectangle-8 {
  border: 1.5px solid;
  border-color: #00000033;
  position: absolute;
  width: 35%;
  height: 35%;
  left: 30%;
  top: 30%;
}

.element-MOTOR-CONTROL .CURSEUR2 {
  background-color: #f8f8f8;
  border: 1px solid;
  border-color: #0000000d;
  border-radius: 14px;
  box-shadow: 1px 2px 4px #0000001a;
  height: 110%;
  left: 38px;
  position: absolute;
  top: -5%;
  width: 28px;
}

.element-MOTOR-CONTROL .text-wrapperonof {
  color: #0000004c;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 8px;
  font-weight: 400;
  position: absolute;
  white-space: nowrap;
  top: 20%;
  left: 30%;
  transform: translateY(-50%);
}

.element-MOTOR-CONTROL .on-off-btn {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: #00000000;
}

.element-MOTOR-CONTROL .ON-OFF {
  position: absolute;
  top: 0%;
  right: 37%;
  height: 100%;
  width: 13%;
}

.element-MOTOR-CONTROL .overlap-groupOn {
  background-image: url(./assets/ONOFF.png);
  background-size: 100% 100%;
  height: 40%;
  left: 23%;
  position: absolute;
  top: 50%;
  width: 95%;
  scale: 65%;
}
.element-MOTOR-CONTROL .right {
  height: 83%;
  left: 50%;
  position: absolute;
  top: 17%;
  width: 50%;
}
.element-MOTOR-CONTROL .SYSTEM {
  position: absolute;
  top: 35%;
  height: 20%;
  width: 100%;
}

.element-MOTOR-CONTROL .REBOOT {
  background-color: #d9d9d900;
  border: 1px solid;
  border-color: #00000000;
  border-radius: 47px;
  box-shadow: 1px 2px 4px #00000000;
  height: 100%;
  left: 40%;
  position: absolute;
  top: 0px;
  width: 14%;
}

.element-MOTOR-CONTROL .POWER {
  left: 0%;

  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
}

.element-MOTOR-CONTROL .TD-STATUS {
  height: 12px;
  left: 23%;
  position: absolute;
  top: 28%;
  width: 177px;
}

.element-MOTOR-CONTROL .touch-designer {
  color: #000000;
  font-family: "Circular Std-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.element-MOTOR-CONTROL .span {
  color: #000000;
  font-family: "Circular Std-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
}

.element-MOTOR-CONTROL .text-wrapper-4 {
  font-family: "Circular Std-Light", Helvetica;
  font-weight: 300;
}

.element-MOTOR-CONTROL .ellipse {
  background-color: #00ff44;
  border-radius: 4.5px;
  height: 9px;
  left: 166px;
  position: absolute;
  top: 3px;
  width: 9px;
}
.element-MOTOR-CONTROL .ellipse2 {
  background-color: #ff0000;
  border-radius: 4.5px;
  height: 9px;
  left: 166px;
  position: absolute;
  top: 3px;
  width: 9px;
}

/**********LOGIN**********/
.element-LOGIN {
  background-color: #f50101;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 60vw;
}

.element-LOGIN .overlap-wrapper {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.element-LOGIN .overlap {
  background-image: url(./assets/PromoUSONA.png);
  background-size: 100% 100%;
  height: 100%;
  position: relative;
}

.element-LOGIN .rectangle {
  background-color: #d0e2ff33;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.element-LOGIN .rectangleW {
  background-color: #ffffff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.element-LOGIN .div {
  background-color: #ffffff00;
  border-radius: 30px;
  box-shadow: 4px 4px 20px #00000000;
  height: 60%;
  left: 30%;
  position: absolute;
  top: 20.37%;
  width: 40%;
}
.element-LOGIN .loginImg {
  height: 60%;
  left: 30%;
  position: absolute;
  top: 20.37%;
  width: 40%;
}

.element-LOGIN .form {
  height: 60%;
  left: 30%;
  position: absolute;
  top: 20.37%;
  width: 40%;
}

.element-LOGIN .PASSWORD {
  position: absolute;
  height: 25%;
  left: 27.5%;
  top: 50%;
  width: 45%;
}

.element-LOGIN .pass-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}
.element-LOGIN .passimg {
  position: absolute;
  height: 40%;
  width: 100%;
  top: 60%;
}

.element-LOGIN .overlap-group {
  color: rgba(0, 0, 0, 0.985);
  font-family: "Circular Std-Book", Helvetica;
  font-size: 22px;
  font-weight: 400;
  padding: 0px;
  letter-spacing: 0;
  line-height: normal;
  background-color: rgba(255, 0, 0, 0);
  white-space: nowrap;
  text-align: center;
  border: 0px;
  border-radius: 10px;
  position: absolute;
  height: 35%;
  width: 96%;
  top: 55.5%;
  left: 1%;
}
.element-LOGIN .overlap-group:focus {
  outline: 0;
  color: rgba(0, 0, 0, 0.985);
  font-family: "Circular Std-Book", Helvetica;
  font-size: 22px;
  font-weight: 400;
  padding: 0px;
  letter-spacing: 0;
  line-height: normal;
  background-color: rgba(255, 0, 0, 0);
  white-space: nowrap;
  text-align: center;
  border: 0px;
  border-radius: 10px;
  position: absolute;
  height: 35%;
  width: 96%;
  top: 55.5%;
  left: 1%;
}

.element-LOGIN .text-wrapper {
  display: block;
  color: #302e4999;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  left: 33%;
}

.element-LOGIN .LOGIN {
  position: absolute;
  height: 25%;
  left: 27.5%;
  top: 25%;
  width: 45%;
}

.element-LOGIN .text-wrapper-2 {
  display: block;
  color: #302e4999;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  left: 40%;
}

.element-LOGIN .rectangle-2 {
  color: rgba(0, 0, 0, 0.985);
  font-family: "Circular Std-Book", Helvetica;
  font-size: 22px;
  font-weight: 400;
  padding: 0px;
  letter-spacing: 0;
  line-height: normal;
  background-color: rgba(255, 0, 0, 0);
  white-space: nowrap;
  text-align: center;
  border: 0px;
  border-radius: 10px;
  position: absolute;
  height: 35%;
  width: 96%;
  top: 68%;
  left: 1%;
}
.element-LOGIN .rectangle-2:focus {
  outline: 0;
  color: rgba(0, 0, 0, 0.985);
  font-family: "Circular Std-Book", Helvetica;
  font-size: 22px;
  font-weight: 400;
  padding: 0px;
  letter-spacing: 0;
  line-height: normal;
  background-color: rgba(255, 0, 0, 0);
  white-space: nowrap;
  text-align: center;
  border: 0px;
  border-radius: 10px;
  position: absolute;
  height: 35%;
  width: 96%;
  top: 68%;
  left: 1%;
}

.element-LOGIN .ENTER {
  position: absolute;
  height: 11%;
  left: 41%;
  top: 79%;
  width: 17%;
  scale: 70%;
  background-repeat: no-repeat;
}
.element-LOGIN .submitbtn {
  background-color: #ffffff00;
  border-color: #00000000;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  border-radius: 30px;
}

.element-LOGIN .div-wrapper {
  background-color: #00000005;
  border-radius: 100px;
  height: 100%;
  position: relative;
  width: 100%;
}

.element-LOGIN .text-wrapper-3 {
  color: #00000080;
  font-family: "Circular Std-Book", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
}

.element-LOGIN .element-USONA-logo-high {
  height: 24.6%;
  left: 21.5%;
  position: absolute;
  top: 6%;
  width: 55%;
}
.element-MOTOR-CONTROL .rectangle-3 {
  height: 1080px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 1919px;
}

/* Gradient Range Slider */
#range-slider-gradient {
  height: 24px;
  border-radius: 12px;
  background: #353644;
}

#range-slider-gradient .range-slider__thumb {
  border: 6px solid #fff;
  box-sizing: border-box;
}

#range-slider-gradient .range-slider__thumb[data-lower] {
  background: #0073e6;
}

#range-slider-gradient .range-slider__thumb[data-upper] {
  background: #ee2c2c;
}

#range-slider-gradient .range-slider__range {
  background: linear-gradient(to right, #0073e6, #ee2c2c);
  background-size: 200% 100%;
  background-position: 50% 0;
}

#range-slider-gradient .range-slider__range[data-active],
#range-slider-gradient
  .range-slider__thumb[data-active]
  ~ .range-slider__range {
  animation: move-bg 0.75s infinite linear;
}

@keyframes move-bg {
  0% {
    background-position: 50% 0;
  }

  25% {
    background-position: 100% 0;
  }

  50% {
    background-position: 50% 0;
  }

  75% {
    background-position: 0% 0;
  }

  100% {
    background-position: 50% 0;
  }
}

/* SLIDERS*/

/*BRIGHTNESS*/
.b_slider .range-slider__thumb[data-lower] {
  width: 0;
}

.b_slider .range-slider__thumb[data-upper] {
  border: 7px solid #f8f8f8;
  width: 9px;
  height: 9px;
}

.b_slider {
  background: linear-gradient(to right, #ffffff, #eaf5e2, #d0e2ff);
  background-size: 200% 100%;
  background-position: 50% 0;
  height: 14px;
  border-radius: 15px;
}

.b_slider .range-slider__range {
  background: #00000000;
  background-size: 200% 100%;
  background-position: 50% 0;
  height: 15px;
  border-radius: 15px;
}

.b_slider .range-slider__thumb[data-upper] {
  background: #e3e3e38a;
}

/*SPEED*/
.s_slider .range-slider__thumb[data-lower] {
  width: 0;
}

.s_slider .range-slider__thumb[data-upper] {
  border: 7px solid #f8f8f8;
  width: 9px;
  height: 9px;
}

.s_slider {
  background: linear-gradient(to right, #d8eff2, #c9cce5, #fdebf3, #ffe6ce);
  background-size: 200% 100%;
  background-position: 50% 0;
  height: 14px;
  border-radius: 15px;
}

.s_slider .range-slider__range {
  background: #00000000;
  background-size: 200% 100%;
  background-position: 50% 0;
  height: 24px;
  border-radius: 15px;
}

.s_slider .range-slider__thumb[data-upper] {
  background: #e3e3e38a;
}

.ar_slider .range-slider__thumb[data-lower] {
  width: 0;
}

.ar_slider .range-slider__thumb[data-upper] {
  border: 7px solid #f8f8f8;
  width: 9px;
  height: 9px;
}

.ar_slider {
  background: linear-gradient(to right, #d0e2ff, #eaf5e2, #ffffff);
  background-size: 200% 100%;
  background-position: 50% 0;
  height: 14px;
  border-radius: 15px;
}

.ar_slider .range-slider__range {
  background: #00000000;
  background-size: 200% 100%;
  background-position: 50% 0;
  height: 24px;
  border-radius: 15px;
}

.ar_slider .range-slider__thumb[data-upper] {
  background: #e3e3e38a;
}

/*AUDIO*/
.a_slider .range-slider__thumb[data-lower] {
  width: 0;
}

.a_slider .range-slider__thumb[data-upper] {
  border: 7px solid #f8f8f8;
  width: 9px;
  height: 9px;
}

.a_slider {
  width: 80%;
  left: 10%;
  background: linear-gradient(to right, #d8eff2, #c9cce5, #fdebf3, #ffe6ce);
  background-size: 200% 100%;
  background-position: 50% 0;
  height: 14px;
  border-radius: 15px;
}

.a_slider .range-slider__range {
  background: #00000000;
  background-size: 200% 100%;
  background-position: 50% 0;
  height: 24px;
  border-radius: 15px;
}

.a_slider .range-slider__thumb[data-upper] {
  background: #e3e3e38a;
}
